.tags
{
    display: flex;
    position: sticky;
    width: 100%;
    height: fit-content;
    align-items: center;
    column-gap: 13px;
    padding: 0px 1%;
    margin: 0;
    height: 60px;
    top: 60px;
    z-index: 1000;
    overflow-x: none;
    background-color: #060707;
    border-top: 1px solid #222;
    border-bottom: 1px solid rgb(80, 79, 79);
    
   
}
.tag{
    padding: 5px 15px;
    background-color: #363636;
    width: fit-content;
    border-radius: 12px;
    color: white !important;
    font-size: 12px;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;

    
}
.tag:hover
{
    background-color: #888585;
}