.show{
    width: 19.5%;
    height: 350px;
    background-color: yellow;
    overflow: hidden;
    display: flex;
    position: relative;
    border-radius: 20px;


}
.show >img
{
    width: 100%;
    position: absolute;
    border-radius: 20px;
    height:350px;
    
}
.MovieTitle
{
    width: 100%;
    height: 100px;
    background-color: rgba(6, 7,3, .4);
    position: absolute;
    align-self: flex-end;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
    
}
.MovieTitle:hover 
{
    height: 200px;
    background-color: rgb(6, 6, 7,.5);
}
.desc
{
    font-size: 15px;
        
}
